table {
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
}

td {
    height: 20px;
    width: 25px;
    min-width: 25px;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
}

td.scheduler_vertical {
    border-right: 3px solid black;
    width: 100px;
}

td.scheduler_step {
    border: 1px solid black;
    text-align: center;
}

td.scheduler_vertical_no_border {
    width: 100px;
    text-align: right;
}

td.scheduler_time {
    border-top: 3px solid black;
    text-align: right;
}

td.starting_vertical_top {
    border: 1px solid black;
    border-bottom: 3px solid black;
    text-align: center;
}

td.starting_vertical_process {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 3px solid black;
    text-align: center;
}

td.step_one_process {
    border: 1px solid black;
    text-align: center;
}

table.table_info.td {
    padding: 5px;
    text-align: Left;
}

td.td_info_planner{
    text-align: right;
    height: 75px;
}

td.td_info_timestamp {
    text-align: left;
    font-weight: bold;
}

td.td_info_header {
    text-align: center;
    font-weight: bold;
}

tr.bottom_row_info {
    border-top: none !important;
}

input.inp_animator {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
