html {
    font-size: 14px;
}

table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

tr{
    height: 20px;
}

td {
    width: 25px;
    min-width: 25px;
    white-space: nowrap;
}

td.scheduler_vertical {
    border-right: 3px solid black;
    width: 100px;
}

td.scheduler_step {
    border: 1px solid black;
    text-align: center;
}

td.scheduler_vertical_no_border {
    width: 100px;
    text-align: right;
}

td.scheduler_time {
    border-top: 3px solid black;
    text-align: right;
}

td.starting_vertical_top {
    border: 1px solid black;
    border-bottom: 3px solid black;
    text-align: center;
}

td.starting_vertical_process {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 3px solid black;
    text-align: center;
}

td.step_one_process {
    border: 1px solid black;
    text-align: center;
}

table.table_info.td {
    padding: 5px;
    text-align: Left;
}

td.td_info_planner{
    text-align: right;
    height: 75px;
}

td.td_info_timestamp {
    text-align: left;
    font-weight: bold;
}

td.td_info_header {
    text-align: center;
    font-weight: bold;
}

tr.bottom_row_info {
    border-top: none !important;
}

input.inp_animator {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.inp_process {
    height: 35px;
    width: 50px;
    min-width: 50px;
    white-space: nowrap;
}

.btn-os {
    /* rgb(64, 81, 181) */
    background-color: #4051B7 !important;
    color: #FFFFFF !important;
}

.btn-process-add {
    /* rgb(40, 167, 69) */
    background-color: #28A745 !important;
    color: #FFFFFF !important;
}

.btn-process-add:hover {
    /* rgb(33, 136, 56) */
    background-color: #218838 !important;
    /* rgb(30, 126, 52) */
    border-color: #1E7E34 !important;
}

.btn-process-remove {
    /* rgb(220, 53, 69) */
    background-color: #DD3545 !important;
    color: #FFFFFF !important;
}

.btn-process-remove:hover {
    /* rgb(200, 35, 51) */
    background-color: #CA2333 !important;
    /* rgb(189, 33, 48) */
    border-color: #BF2130 !important;
}